<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
    <title>Registro | MythBots</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow-lg">
        <div class="row no-gutters">
          <!-- card 1 - izq-->
          <div class="col-md-5 d-flex flex-column align-items-center justify-content-center p-4">
            <!-- Logotipo-->
            <img src="/img/MythBots_Logo.png" alt="Logo" class="img-fluid mb-3">
            <!-- Titulo-->
            <h2 class="text-primary">Bienvenido a MythBots</h2>
            <!-- Eslogan-->
            <p class="text-secondary">Únete a nosotros y comienza tu viaje</p>
          </div>
          <!-- card 2 - der -->
          <div class="col-md-7 p-4">
            <div class="card-body">
              <h3 class="card-title text-center mb-3">Registrarse</h3>
              <hr>
              <form action="/register" method="POST">
                <div class="form-floating mb-3">
                  <input id="name" name="name" type="text" class="form-control" placeholder="Nombre completo">
                  <label for="name">Nombre completo</label>
                </div>
                <div class="form-floating mb-3">
                  <input id="user" name="user" type="text" class="form-control" placeholder="Cuenta de usuario">
                  <label for="user">Cuenta de usuario</label>
                </div>
                <div class="form-floating mb-3">
                  <input id="pass" name="pass" type="password" class="form-control" placeholder="Password">
                  <label for="pass">Password</label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block w-100">Registrar</button>
                  <p class="mt-3">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Notificaciones -->
    <% if(typeof alert !== 'undefined' && alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>'
        }).then(() => {
          window.location = '/<%= ruta %>';
        });
      </script>
    <% } %>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
